# General
.DS_Store
*.log
tmp/

# Rails specific
/log/*.log
/tmp/
/public/assets
/public/packs
/public/packs-test
/node_modules
/db/*.sqlite3
/.bundle
/vendor/bundle
/storage/
/pgdata/

# Credentials
/config/master.key

# IDEs
.vscode/
.idea/
